<footer>
        <div class="footer-class">
                <div class="row" style="text-align: center;">
                   <div class="col-md-6 col-sm-12" style="text-align: left">
                        <p>
                            <a href="#" class="footer-header">
                                About DisneyFlix
                            </a>
                            <a href="#" class="footer-header">
                                    Terms Of Use
                            </a>
                            <a href="#" class="footer-header">
                                    Privacy policy(revised)
                            </a>
                            <a href="#" class="footer-header">
                                    FAQ
                            </a>
                            <a href="#" class="footer-header">
                                    Feedback
                            </a>
                            <a href="#" class="footer-header">
                                    Careers
                            </a>
                        </p>
                        <p class="footer-content">
                                &copy;
                                 2020 STAR.
                                 All Rights Reserved. HBO, Home Box Office and all related channel and programming logos are service marks of, and all related programming visuals and elements are the property of, Home Box Office, Inc. All rights reserved.
                        </p>
                   </div>
                    <div class="col-md-2">
                            <i class="fab fa-facebook-square fa-3x"></i>
                            <i class="fab fa-twitter-square fa-3x"></i>
                            <a href="#" style="color: #b1c3d3"><i  class="fab fa-instagram-square fa-3x"></i></a>
                    </div>
                    <div class="col-md-4 col-sm-12 hide-subscribe-email ">
                        <form class="form-inline">
                                <input class="form-control"  placeholder="Email address" type="email" name="subscribe"/>
                                <button class="btn btn-danger ">Subscribe</button>
                        </form>
                    </div>
                </div>
        </div>
    </footer>