<div class="multiCarouselWrapper">
    <h5 style="color: white;font-weight: 600">Specials & Latest Movies</h5>
    <div class="owl-carousel  owl-theme" style="padding-top:5px">
        <div class="card multi-carousel-card " >
            <div class="card-body">
              <img src="/images/img1.jpg" style="border-radius: 7px;"/>
              <!-- <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a> -->
            </div>
          </div>
          <div class="card multi-carousel-card" >
            <div class="card-body">
              <img src="/images/img2.jpeg"/>
            </div>
          </div>
          <div class="card multi-carousel-card">
            <div class="card-body">
              <img src="/images/img3.jpg"/>
            </div>
          </div>
          <div class="card multi-carousel-card" >
            <div class="card-body">
              <img src="/images/img4.jpg"/>
            </div>
          </div>
          <div class="card multi-carousel-card" >
            <div class="card-body">
              <img src="/images/img5.jpg"/>
            </div>
          </div>
          <div class="card multi-carousel-card" >
            <div class="card-body">
              <img src="/images/img6.jpg"/>
            </div>
          </div>
          <div class="card multi-carousel-card">
            <div class="card-body">
              <img src="/images/img1.jpg"/>
            </div>
          </div>
    </div>
</div>