

    <%- include("./components/navbar",{user:user,userInfo:userInfo,admin:admin }) %>
    <div class="container" style="text-align: center; height: 60vh ;width: 100%">
        <h1 style="color:white;">
            Page Not Found : (
        </h1>
    </div>
    <%- include('./components/footer.ejs') %>