

    <%- include("./components/navbar",{user:user,userInfo:userInfo,admin:admin }) %>
    <%- include('./components/carousel.ejs') %>
    <%- include('./components/muticarousel.ejs') %>
    <p>Welcome to </p>
    <%- include("./components/footer") %>