.user-details{
    padding-top:5%;
    padding-bottom: 5%;
    padding-left:3%;
    padding-right:3%;
}

/* navbar */
.navbar{
    background-color: #cdb30c;
}
.navbar-light .navbar-nav  .nav-link {
    color: rgb(241, 222, 222);
}
.admin-add-content{
    padding-top:3%;
    padding-bottom:1%;
    padding-left:3%;
    padding-right:3%;
}